<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <h1>Urlaub anmelden</h1>

    <div class="formular mt-3">
        <form name="urlaub_anmelden" class="mt-3" method="post" action="/urlaubanmeldung">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="tag"
                       placeholder=" " name="datum" value="">
                <label for="tag" class="form-label">Datum (dd.mm.yyyy)</label>

            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="von" placeholder=" " name="von" value="">
                <label for="von">Start (hh:mm)</label>
                <div class="form-text">Tragen Sie hier die Uhrzeit ein, wann Sie Ihren Urlaub beginnen wollen.</a>
                </div>

            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="bis" placeholder=" " name="bis" value="">
                <label for="bis" class="form-label">Ende (hh:mm)</label>
            </div>

            <button name="urlaubsanmeldung_abschicken" class="btn btn-primary" type="submit">Eintragen</button>

        </form>
    </div>

</div>

</body>
</html>